<!DOCTYPE html>
<html>
<body>

<h1>เลือกหน่วยงาน</h1>

<p>กรุณาเลือกหน่วยงานของท่าน</p>

<form action="/action">
  <label for="cars">เลือกหน่วยงาน:</label>
  <select name="cars" id="cars">
    <option value="volvo">1</option>
    <option value="saab">2</option>
    <option value="opel">3</option>
    <option value="audi">4</option>
  </select>
  <br><br>
  <a href="../test/">               
    <button  type="submit"  style=" background-color: #849C53; color: white; font-size: 0.8rem;" class="btn  form-control-sm mt-2 offset-md-0">กดเลือก </button>
  </a>                                      
</div>
</form>
<div style="margin-top: 30px;color: cornsilk; font-size: 1rem;">
    <a scr href="http://127.0.0.1:8000/admin/">               
      <button  type="submit"  style=" background-color: #849C53; color: white; font-size: 0.8rem;width:120px; height: 60px;margin-left: 750px;" class="btn  form-control-sm mt-2 offset-md-0"> CFP </button>
    </a> 
</div> 
</body>
</html>
